.grid-layout {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: 400px 400px;
}

main {
    background: rgb(40, 40, 40);
    app-toolbar {
        grid-column: 1 / 4;
        grid-row: 1 / 3;
    }

    app-students {
        grid-column: 4 / 13;
        grid-row: 2 / 3;
    }

    app-new-student {
        grid-column: 4 / 13;
        grid-row: 1 / 2;
    }
}